* {
	transition: all .5s ease;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Space Mono", monospace;
  height: 100%;
  margin: 0;
  color: #fff;
}

h1{
  font-size: 55px;
}

.center{
  justify-content: center;
  display: flex;
}

/* sidebar */
.sidebar {
  display: block;
  position: absolute;
  left: 28px;
  top: 100px;
  line-height: 22px;
  width: 100%;
  font-size: 16px;
}

.sidebar ul{
  position: fixed;
  overflow: hidden;
  list-style-type: none;
}

.sidebar a{
  margin-left: 20px;
}

.sidebar a:link, .sidebar a:visited{
  text-decoration: none;
  color: #E55C5B;
}

.sidebar a:hover, .sidebar li.active a{
  color: #fff;
  cursor: pointer;
}

.blue a:link, {
  color: #2A00FF;
}

.sidebar li.active{
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMS44MSAxOS42OCI+ICAgIDxkZWZzPiAgICAgICAgPHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+ICAgIDwvZGVmcz4gICAgPHRpdGxlPmFycm93LWxpbms8L3RpdGxlPiAgICA8ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj4gICAgICAgIDxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iMy45NCIgaGVpZ2h0PSIzLjk0Ii8+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSIzLjk0IiB5PSIzLjk0IiB3aWR0aD0iMy45NCIgaGVpZ2h0PSIzLjk0Ii8+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSI3Ljg3IiB5PSI3Ljg3IiB3aWR0aD0iMy45NCIgaGVpZ2h0PSIzLjk0Ii8+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSIzLjk0IiB5PSIxMS44MSIgd2lkdGg9IjMuOTQiIGhlaWdodD0iMy45NCIvPiAgICAgICAgICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iMTUuNzQiIHdpZHRoPSIzLjk0IiBoZWlnaHQ9IjMuOTQiLz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==) no-repeat right;
  background-position-x: 0px;
}

@media only screen and (min-height: 450px) and (min-width: 1200px){
  .sidebar{
    list-style: none;
  }
}

.m-l{
  margin-left: 350px;
}

.p-t{
  padding-top: 100px;
}

.m-t{
  margin-top: 50px;
}

.m-r{
  margin-right: 350px;
}

.details h1{
  margin-bottom: 10px;
}

.details span, .details .next{
  margin-left: 5px;
}

.details span{
  font-size: 30px;
  font-weight: lighter;
}

.details{
  margin-top: 50px;
}

.next{
  width: 56px;
  position: relative;
  bottom: 0;
  left: 0;
}

.cls-1{
  fill:#fff;
}

.ribbon .cls-6, #sponsorship .details .cls-1{
  fill:#2a00ff;
}

.ribbon{
  margin-left: 350px;
  max-width: 339px;
}

.ribbon .cls-2{
  fill:#ea5d5c;
}

.ribbon .cls-3{
  fill:#ede15a;
}

.ribbon .cls-4{
  fill:#b4ae34;
}

.ribbon .cls-5{
  fill:#c94446;
}

.ribbon .cls-7{
  fill:#272c3e;
}

.page-section{
  align-items: center;
  height: 100vh;
}

.page-section-contact{
  align-items: center;
}

#main{
  background-image: url('../assets/img/bg1.png');
  background-size: cover;
}

/* speakers */
#speakers{
  background-image: url('../assets/img/bg2.png');
  background-size: cover;
}

.speaker-description{
  background-color: #fff;
}

.speaker-description span{
  display: table;
}

.speaker-description:nth-child(even){
  margin-top: -6px;
}

.landing-wrapper .header-wrapper {
  text-align: left;
}

.speaker-name{
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}

.speaker-username{
  padding: 15px;
}

.speaker-username a:link, .speaker-username a:visited{
  background-color: #2A00FF;
  color: #fff;
  text-decoration: none;
  padding: 0px 6px;
  font-size: 15px;
}

img.speaker-picture, .speaker-description {
  width: 180px;
  height: 180px;
}

.slides-title {
  padding: 3em 0 1em;
  margin: 0;
}

.slides-title a:link, .slides-title a:visited{
  color: #fff;
}

.slides {
  text-align: center;
}

img.slides-picture {
  width: 400px;
  height: auto;
}


.center {
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(180px, 0fr));
  align-items: stretch;
}
.center .speaker-information {
  max-width: 100%;
}

/* sponsorship */
#sponsorship{
  color: #000;
}
#sponsorship h1{
  color: #1D1A5B
}

.button, button:active, button:link, button:visited{
  padding: 10px 20px;
  font-size: 14px;
  line-height: 38px;
  background-color: #2A00FF;
  font-family:  "Space Mono", monospace;
  color: #fff;
  border: none;
  text-decoration: none;
}

.button:hover{
  background-color: #E55C5B;
  cursor: pointer;
}

.button svg{
  width: 15px;
  margin-top: 6px
}

/* contact */
#contact{
  background-image: url('../assets/img/bg3.png');
  background-size: cover;
  background-position: right;
  background-repeat: repeat-x no-repeat;
}

#mc_embed_signup {
  clear: left;
  width: 100%;
}

#mc_embed_signup form {
  padding:10px 0 10px 0;
}

.mc-field-group { display: inline-block;
} /* positions input field horizontally */

#mc_embed_signup input.email {
  font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  border: none;
  color: #000;
  background-color: #fff;
  box-sizing:border-box;
  height:32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width:350px;
  vertical-align:top;
  font-family: "Space Mono", monospace;
  margin-right: 35px;
}
#mc_embed_signup label {
  display:block;
  font-size:16px;
  padding-bottom:10px;
}
#mc_embed_signup .clear {
 display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  letter-spacing: .03em;
  color: #fff;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 30px 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxNSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5Bc3NldCAxNjwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjEwIiB3aWR0aD0iNSIgaGVpZ2h0PSI1Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNSIgaGVpZ2h0PSI1Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSI1IiB5PSI1IiB3aWR0aD0iNSIgaGVpZ2h0PSI1Ii8+PC9nPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-size: 12px;
  background-position-y: center;
}

#mc_embed_signup div#mce-responses {float:left;
  top:-1.4em;
  padding:0em .5em 0em .5em;
  overflow :hidden;
  width:90%;
  margin: 0 5%;
  clear: both;
}
#mc_embed_signup div.response {margin:1em 0;
  padding:1em .5em .5em 0;
  font-weight:bold;
  float:left;
  top:-1.5em;
  z-index:1;
  width:80%;
}
#mc_embed_signup #mce-error-response {display:none;
}
#mc_embed_signup #mce-success-response {color:#529214;
  display:none;
}
#mc_embed_signup label.error {display:block;
  float:none;
  width:auto;
  margin-left:1.05em;
  text-align:left;
  padding:.5em 0;
}
@media (max-width: 768px) {
 #mc_embed_signup input.email {width:100%;
      margin-bottom:5px;
 }
 #mc_embed_signup .clear {display: block;
      width: 100% }
 #mc_embed_signup .button {width: 100%;
      margin:0;
  }
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}

.social-networks img, .social-networks a{
  vertical-align: middle;
}

.social-networks .twitter svg{
  height: 50px;
  margin-right: 10px;
}

.social-networks .youtube svg{
  height: 40px;
  padding: 5px 0px;
}

.hide-xl{
  display: none;
}

hr {
  height: 1px;
  background-color: #fff;
  width: 38%;
}
/* Media queries */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 450px){
  .slides-picture{
    display: none;
  }

  .social-networks .twitter svg {
    height: 40px;
    margin-right: 10px;
  }

  .social-networks .youtube svg {
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar{
    display: none;
  }

  .ribbon {
    margin-left: 35px;
    max-width: 100px;
  }

  .m-l{
    margin-left: 35px;
  }

  .m-r{
    margin-right: 35px;
  }

  .p-t{
    padding-top: 10px;
  }

  h1{
    font-size: 2em;
  }

  img.speaker-picture, .speaker-description {
    width: 100px;
    height: 100px;
  }

  img.slides-picture {
    width: 180px;
    height: auto;
  }

  .hide-xs{
    display: none;
  }

  .hide-xl{
    display: block;
  }

  .speaker-name{
    font-size: smaller;
    text-align: center;
    padding: 5px 15px;
  }

  .speaker-username{
    margin: 0 auto;
    padding: 5px 3px;
  }

  .speaker-username a:link{
    align-self: center;
    font-size: 9px;
  }

  .center:nth-child(2){
    margin-top: -6px;
  }
  #mc_embed_signup form {
    padding: 10px 30px 10px 0;
  }

  #mc_embed_signup .button {
    background-position-x: 70%;
  }
  .next{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .sidebar{
    display: none;
  }

  .ribbon {
    margin-left: 70px;
    max-width: 250px;
  }

  .m-l{
    margin-left: 70px;
  }

  .m-r{
    margin-right: 70px;
  }

  .p-t{
    padding-top: 40px;
  }

  h1{
    font-size: 3em;
  }

  img.speaker-picture, .speaker-description {
    width: 170;
    height: 170;
  }

  .hide-xs{
    display: none;
  }

  .hide-xl{
    display: block;
  }

  .center:nth-child(2){
    margin-top: -6px;
  }
  #mc_embed_signup form {
    padding: 10px 30px 10px 0;
  }

  #mc_embed_signup .button {
    background-position-x: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1200px) {
  .ribbon {
    margin-left: 300px;
    max-width: 300px;
  }

  h1{
    font-size: 3em;
  }

  .m-l{
    margin-left: 300px;
  }

  .m-r{
    margin-right: 300px;
  }

  img.speaker-picture, .speaker-description {
    width: 120px;
    height: 120px;
  }

  .speaker-name{
    font-size: smaller;
    text-align: center;
    padding: 5px 15px;
  }

  .speaker-username{
    margin: 0 auto;
    padding: 5px 3px;
  }

  .speaker-username a:link{
    align-self: center;
    font-size: 11px;
  }
}
