* {
	transition: all .5s ease;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Space Mono", monospace;
  height: 100%;
  margin: 0;
  color: #fff;
}

h1{
  font-size: 55px;
}

.center{
  justify-content: center;
  display: flex;
}

/* sidebar */
.sidebar {
  display: block;
  position: absolute;
  left: 28px;
  top: 100px;
  line-height: 22px;
  width: 100%;
  font-size: 16px;
}

.sidebar ul{
  position: fixed;
  overflow-x: hidden;
  list-style-type: none;
}

.sidebar a{
  margin-left: 20px;
}

.sidebar a:link, .sidebar a:visited{
  text-decoration: none;
  color: #E55C5B;
}

.sidebar a:hover, .sidebar li.active a{
  color: #fff;
  cursor: pointer;
}

.blue a:link, {
  color: #2A00FF;
}

.sidebar li.active{
  background: url( '../assets/svg/arrow-link.svg' ) no-repeat right;
  background-position-x: 0px;
}

@media only screen and (min-height: 450px) and (min-width: 1200px){
  .sidebar{
    list-style: none;
  }
}

.m-l{
  margin-left: 350px;
}

.p-t{
  padding-top: 100px;
}

.m-t{
  margin-top: 50px;
}

.m-r{
  margin-right: 350px;
}

.details h1{
  margin-bottom: 10px;
}

.details span, .details .next{
  margin-left: 5px;
}

.details span{
  font-size: 30px;
  font-weight: lighter;
}

.details .next{
  margin-top: 50px;
}

.next{
  width: 56px;
}

.ribbon{
  margin-left: 350px;
  max-width: 339px;
}

.page-section{
  align-items: center;
  height: 100vh;
}

#main{
  background-image: url('../assets/img/bg1.png');
  background-size: cover;
}

/* speakers */
#speakers{
  background-image: url('../assets/img/bg2.png');
  background-size: cover;
}

.speaker-description{
  background-color: #fff;
}

.speaker-description span{
  display: table;
  padding: 15px;
}

.speaker-description:nth-child(even){
  margin-top: -6px;
}

.landing-wrapper .header-wrapper {
  text-align: left;
}

.speakers-wrapper {
  display: flex;
  flex-direction: row;
}

.speakers-wrapper .speakers-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 64%;
  /* margin: 5em; */
}

.speaker-name{
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.speaker-username a:link, .speaker-username a:visited{
  background-color: #2A00FF;
  color: #fff;
  text-decoration: none;
  padding: 0px 6px;
  font-size: 15px;
}

img.speaker-picture, .speaker-description {
  width: 180px;
  height: 180px;
}

/* sponsorship */
#sponsorship{
  color: #000;
}
#sponsorship h1{
  color: #1D1A5B
}

.button, button:active, button:link, button:visited{
  padding: 10px 20px;
  font-size: 14px;
  line-height: 38px;
  background-color: #2A00FF;
  font-family:  "Space Mono", monospace;
  color: #fff;
  border: none;
  text-decoration: none;
}

.button:hover{
  background-color: #E55C5B;
  cursor: pointer;
}

.button img{
  width: 15px;
  margin-top: 6px
}

/* contact */
#contact{
  background-image: url('../assets/img/bg3.png');
  background-size: cover;
}

#mc_embed_signup {
  clear: left;
  width: 100%;
}


#mc_embed_signup form {
  padding:10px 0 10px 0;
}
.mc-field-group { display: inline-block;
} /* positions input field horizontally */
#mc_embed_signup input.email {
  font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  border: none;
  color: #000;
  background-color: #fff;
  box-sizing:border-box;
  height:32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width:350px;
  vertical-align:top;
  font-family: "Space Mono", monospace;
}
#mc_embed_signup label {
  display:block;
  font-size:16px;
  padding-bottom:10px;
}
#mc_embed_signup .clear {
 display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  letter-spacing: .03em;
  color: #fff;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 30px 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
  background-image: url(../assets/SVG/arrow-right-button.svg);
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-size: 12px;
  background-position-y: center;
}

#mc_embed_signup div#mce-responses {float:left;
  top:-1.4em;
  padding:0em .5em 0em .5em;
  overflow:hidden;
  width:90%;
 margin: 0 5%;
  clear: both;
}
#mc_embed_signup div.response {margin:1em 0;
  padding:1em .5em .5em 0;
  font-weight:bold;
  float:left;
  top:-1.5em;
  z-index:1;
  width:80%;
}
#mc_embed_signup #mce-error-response {display:none;
}
#mc_embed_signup #mce-success-response {color:#529214;
  display:none;
}
#mc_embed_signup label.error {display:block;
  float:none;
  width:auto;
  margin-left:1.05em;
  text-align:left;
  padding:.5em 0;
}
@media (max-width: 768px) {
 #mc_embed_signup input.email {width:100%;
      margin-bottom:5px;
 }
 #mc_embed_signup .clear {display: block;
      width: 100% }
 #mc_embed_signup .button {width: 100%;
      margin:0;
  }
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}

.social-networks img, .social-networks a{
  vertical-align: middle;
}

.social-networks .twitter{
  height: 50px;
  margin-right: 10px;
}

.social-networks .youtube{
  height: 40px;
}
