html,
body {
  font-family: "Space Mono", monospace;
}

.landing-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-wrapper .header-wrapper {
  text-align: left;
}

.landing-wrapper .speakers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-wrapper .speakers-wrapper .speakers-title {
}

.landing-wrapper .speakers-wrapper .speakers-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 64%;
  margin: 5em;
}

.landing-wrapper .speakers-wrapper .speaker-information {
    margin-bottom: 2em;

}

.landing-wrapper .speakers-wrapper .speakers-information .speaker-picture {
  width: 270px;
  height: 270px;
}
